html {
  --webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 1.2;
}

h1,
p {
  color: white;
}

h1 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
}

p {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
}

button {
  margin: 0.5rem 0;
  display: block;
  background: #4ccd5a;
  border: 1px solid #4ccd5a;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
}

button:hover {
  background: #3ca448;
}

button:active {
  transform: scale(0.9);
}
